@use "./variables.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-base-dark;
  font-family: "Bluu Next Cyrillic", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

section {
  padding: 100px 100px;
}
