@use "@styles/variables.scss" as *;

.character-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 452px;
  padding: 24px;
  background-image: linear-gradient(
    0deg,
    rgb(15, 15, 15) -1.586%,
    rgba(15, 15, 15, 0.74) 30%,
    rgba(15, 15, 15, 0) 60%
  );
  border-radius: 20px;
  overflow: visible;
  transition: transform 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  &__character-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  &__character-content {
    position: relative;
    z-index: 1;
    color: $color-base-light;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__character-alias,
  &__character-house,
  &__character-birth {
    font-size: 16px;
    color: $color-text-yellow;
  }

  &__more-info-button {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
  }
}

.character-info-popup {
  display: block;
  position: absolute;
  background-color: $color-base-dark;
  color: $color-text-yellow;
  padding: 20px;
  border: 1px solid;
  border-radius: 20px;
  width: 295px;
  top: -25%;
  left: 125%;
  transform: translateX(-50%);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  z-index: 2;
}

.character-info-popup strong {
  color: $color-base-light;
}
